/**
 * Messages aligned on RHS of screen
 * 
 */


@keyframes closeRightListItem {
    0%   {
    }
    100% {
	max-height: 0;
        margin:0;
    }
}


@keyframes openRightListItem {
    0%   {
	max-height: 0;
        margin:0;
    }
    100% {
    }
}

@keyframes closeRightWrapper {
    0%   {
        transform: translate(0, 0);
	opacity:1;
    }
    100% {
        transform: translate(100%, 0);
	opacity:0;
    }
}

@keyframes openRightWrapper {
    0%   {
        transform: translate(100%, 0);
	opacity:0;
    }
    100% {
        transform: translate(0, 0);
	opacity:1;
    }
}


/**
 * Messages aligned on LHS of screen
 *
 */
@keyframes closeLeftListItem {
    0%   {
    }
    100% {
	max-height: 0;
        margin:0;
    }
}

@keyframes openLeftListItem {
    0%   {
	max-height: 0;
        margin:0;
    }
    100% {
    }
}

@keyframes closeLeftWrapper {
    0%   {
        transform: translate(0, 0);
	opacity:1;
    }
    100% {
        transform: translate(-100%, 0);
	opacity:0;
    }
}

@keyframes openLeftWrapper {
    0%   {
        transform: translate(-100%, 0);
	opacity:0;
    }
    100% {
        transform: translate(0, 0);
	opacity:1;
    }
}

/**
 * Messages on top mid
 *
 */
@keyframes closeTopListItem {
    0%   {
    }
    100% {
	max-height: 0;
        margin:0;
    }
}

@keyframes openTopListItem {
    0%   {
	max-height: 0;
        margin:0;
    }
    100% {
    }
}

@keyframes closeTopWrapper {
    0%   {
        transform: scaleY(1);
	opacity:1;
    }
    100% {
        transform: scaleY(0);
	opacity:0;
    }
}

@keyframes openTopWrapper {
    0%   {
        transform: scaleY(0);
	opacity:0;
    }
    100% {
        transform: scaleY(1);
	opacity:1;
    }
}

/**
 * Messages on bottom mid
 *
 */
@keyframes closeBottomListItem {
    0%   {
    }
    100% {
	max-height: 0;
        margin:0;
    }
}

@keyframes openBottomListItem {
    0%   {
	max-height: 0;
        margin:0;
    }
    100% {
    }
}

@keyframes closeBottomWrapper {
    0%   {
        transform: scaleY(1);
	opacity:1;
    }
    100% {
        transform: scaleY(0);
	opacity:0;
    }
}

@keyframes openBottomWrapper {
    0%   {
        transform: scaleY(0);
	opacity:0;
    }
    100% {
        transform: scaleY(1);
	opacity:1;
    }
}
