/*prefixes and globals */
/**
 * Animations and general css rules use the following structure
 *
 * <list>
 *  <listItem>
 *   <contentWrapper>
 *    icon, close, content
 *   </contentWrapper>
 *  </listItem>
 *  <listItem>
 *   <contentWrapper>
 *    icon, close, content
 *   </contentWrapper>
 *  </listItem>
 * </list>
 */
/*list customizations*/
/*listItem li customizations*/
/*icon customizations */
/*close button customizations */
/*content-wrapper div customizations */
/*content div customizations */
/*Mode colors*/
/*
 * MEDIA QUERIES =============================
 */
@media screen and (max-width: 768px) {
  [data-zeichen-list] {
    width: 100%;
    right: 0;
    left: 0; } }
@media screen and (min-width: 768px) {
  [data-zeichen-list] {
    width: 25%; } }
/*
 * LIST RULES
 */
[data-zeichen-list] {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

[data-zeichen-list="tl"] {
  top: 0.3rem;
  left: 0.3rem; }

[data-zeichen-list="tm"] {
  top: 0;
  left: 0;
  width: 100%; }

[data-zeichen-list="tr"] {
  top: 0.3rem;
  right: 0.3rem; }

[data-zeichen-list="bl"] {
  bottom: 0.6rem;
  left: 0.3rem; }

[data-zeichen-list="bm"] {
  bottom: 0;
  left: 0;
  width: 100%; }

[data-zeichen-list="br"] {
  bottom: 0.3rem;
  right: 0.3rem; }

/*
 * LIST ITEM & CONTENT WRAPPER RULES
 */
.zeichen-list-item {
  position: relative;
  width: 100%;
  max-width: 100%;
  max-height: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0; }

[data-zeichen-list-item] {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform-origin: 0% 50%;
  -moz-animation-duration: 0.5s;
  -moz-animation-delay: 0s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: normal;
  -moz-animation-timing-function: ease-out;
  -moz-animation-fill-mode: forwards;
  -moz-transform-origin: 0% 50%; }

[data-zeichen-list-item].hiding {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
  -moz-animation-duration: 0.5s;
  -moz-animation-delay: 0s; }

.zeichen-content-wrapper {
  padding: 0;
  margin: 0rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 0px 0px 4px 2px #cccccc;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  transition: background-color 0.3s ease-in;
  width: 100%;
  opacity: 0; }

[data-zeichen-content-wrapper].success {
  background-color: #43ac6a;
  border: 1px solid #368a54; }
  [data-zeichen-content-wrapper].success:hover {
    background-color: #368a54; }

[data-zeichen-content-wrapper].warning {
  background-color: #f08a24;
  border: 1px solid #de770f; }
  [data-zeichen-content-wrapper].warning:hover {
    background-color: #de770f; }

[data-zeichen-content-wrapper].error {
  background-color: #f04124;
  border: 1px solid #cf280e; }
  [data-zeichen-content-wrapper].error:hover {
    background-color: #cf280e; }

[data-zeichen-content-wrapper].info {
  background-color: #008cba;
  border: 1px solid #007ba0; }
  [data-zeichen-content-wrapper].info:hover {
    background-color: #007ba0; }

[data-zeichen-content-wrapper] {
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: normal;
  -moz-animation-timing-function: ease-out;
  -moz-animation-fill-mode: forwards; }

[data-zeichen-content-wrapper].showing {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
  -moz-animation-duration: 0.5s;
  -moz-animation-delay: 0s; }

[data-zeichen-content-wrapper].hiding {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
  -moz-animation-duration: 0.5s;
  -moz-animation-delay: 0s; }

[data-zeichen-list="tl"] [data-zeichen-list-item], [data-zeichen-list="tm"] [data-zeichen-list-item], [data-zeichen-list="tr"] [data-zeichen-list-item] {
  margin: 0rem 0rem 1rem 0rem; }
[data-zeichen-list="tl"] [data-zeichen-list-item] [data-zeichen-content-wrapper].showing,
[data-zeichen-list="tl"] [data-zeichen-list-item] [data-zeichen-content-wrapper].hiding, [data-zeichen-list="tm"] [data-zeichen-list-item] [data-zeichen-content-wrapper].showing,
[data-zeichen-list="tm"] [data-zeichen-list-item] [data-zeichen-content-wrapper].hiding, [data-zeichen-list="tr"] [data-zeichen-list-item] [data-zeichen-content-wrapper].showing,
[data-zeichen-list="tr"] [data-zeichen-list-item] [data-zeichen-content-wrapper].hiding {
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%; }

[data-zeichen-list="bl"] [data-zeichen-list-item], [data-zeichen-list="bm"] [data-zeichen-list-item], [data-zeichen-list="br"] [data-zeichen-list-item] {
  margin: 1rem 0rem 0rem 0rem; }
[data-zeichen-list="bl"] [data-zeichen-list-item] [data-zeichen-content-wrapper].showing,
[data-zeichen-list="bl"] [data-zeichen-list-item] [data-zeichen-content-wrapper].hiding, [data-zeichen-list="bm"] [data-zeichen-list-item] [data-zeichen-content-wrapper].showing,
[data-zeichen-list="bm"] [data-zeichen-list-item] [data-zeichen-content-wrapper].hiding, [data-zeichen-list="br"] [data-zeichen-list-item] [data-zeichen-content-wrapper].showing,
[data-zeichen-list="br"] [data-zeichen-list-item] [data-zeichen-content-wrapper].hiding {
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%; }

[data-zeichen-list="tr"] [data-zeichen-list-item].showing, [data-zeichen-list="br"] [data-zeichen-list-item].showing {
  -webkit-animation-name: openRightListItem;
  -moz-animation-name: openRightListItem; }
[data-zeichen-list="tr"] [data-zeichen-list-item].hiding, [data-zeichen-list="br"] [data-zeichen-list-item].hiding {
  -webkit-animation-name: closeRightListItem;
  -moz-animation-name: closeRightListItem; }
[data-zeichen-list="tr"] [data-zeichen-list-item] [data-zeichen-content-wrapper].showing, [data-zeichen-list="br"] [data-zeichen-list-item] [data-zeichen-content-wrapper].showing {
  -webkit-animation-name: openRightWrapper;
  -moz-animation-name: openRightWrapper; }
[data-zeichen-list="tr"] [data-zeichen-list-item] [data-zeichen-content-wrapper].hiding, [data-zeichen-list="br"] [data-zeichen-list-item] [data-zeichen-content-wrapper].hiding {
  -webkit-animation-name: closeRightWrapper;
  -moz-animation-name: closeRightWrapper; }

[data-zeichen-list="tm"] [data-zeichen-list-item].showing {
  -webkit-animation-name: openTopListItem;
  -moz-animation-name: openTopListItem; }
[data-zeichen-list="tm"] [data-zeichen-list-item].hiding {
  -webkit-animation-name: closeTopListItem;
  -moz-animation-name: closeTopListItem; }
[data-zeichen-list="tm"] [data-zeichen-list-item] [data-zeichen-content-wrapper].showing {
  -webkit-animation-name: openTopWrapper;
  -moz-animation-name: openTopWrapper; }
[data-zeichen-list="tm"] [data-zeichen-list-item] [data-zeichen-content-wrapper].hiding {
  -webkit-animation-name: closeTopWrapper;
  -moz-animation-name: closeTopWrapper; }

[data-zeichen-list="tl"] [data-zeichen-list-item].showing, [data-zeichen-list="bl"] [data-zeichen-list-item].showing {
  -webkit-animation-name: openLeftListItem;
  -moz-animation-name: openLeftListItem; }
[data-zeichen-list="tl"] [data-zeichen-list-item].hiding, [data-zeichen-list="bl"] [data-zeichen-list-item].hiding {
  -webkit-animation-name: closeLeftListItem;
  -moz-animation-name: closeLeftListItem; }
[data-zeichen-list="tl"] [data-zeichen-list-item] [data-zeichen-content-wrapper].showing, [data-zeichen-list="bl"] [data-zeichen-list-item] [data-zeichen-content-wrapper].showing {
  -webkit-animation-name: openLeftWrapper;
  -moz-animation-name: openLeftWrapper; }
[data-zeichen-list="tl"] [data-zeichen-list-item] [data-zeichen-content-wrapper].hiding, [data-zeichen-list="bl"] [data-zeichen-list-item] [data-zeichen-content-wrapper].hiding {
  -webkit-animation-name: closeLeftWrapper;
  -moz-animation-name: closeLeftWrapper; }

[data-zeichen-list="bm"] [data-zeichen-list-item].showing {
  -webkit-animation-name: openBottomListItem;
  -moz-animation-name: openBottomListItem; }
[data-zeichen-list="bm"] [data-zeichen-list-item].hiding {
  -webkit-animation-name: closeBottomListItem;
  -moz-animation-name: closeBottomListItem; }
[data-zeichen-list="bm"] [data-zeichen-list-item] [data-zeichen-content-wrapper].showing {
  -webkit-animation-name: openBottomWrapper;
  -moz-animation-name: openBottomWrapper; }
[data-zeichen-list="bm"] [data-zeichen-list-item] [data-zeichen-content-wrapper].hiding {
  -webkit-animation-name: closeBottomWrapper;
  -moz-animation-name: closeBottomWrapper; }

.zeichen-close {
  top: 1rem;
  right: 1rem;
  text-decoration: none;
  position: absolute;
  color: white; }

.zeichen-icon {
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  left: 1rem;
  color: white; }

.zeichen-content {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  color: white;
  padding: 1.5rem 2rem 1.5rem 2.5rem; }
