/*prefixes and globals */
$class-prefix: '.zeichen';
$small-media-break: 768px;
$large-max-width: 25%;
$font-color:white;

/**
 * Animations and general css rules use the following structure
 *
 * <list>
 *  <listItem>
 *   <contentWrapper>
 *    icon, close, content
 *   </contentWrapper>
 *  </listItem>
 *  <listItem>
 *   <contentWrapper>
 *    icon, close, content
 *   </contentWrapper>
 *  </listItem>
 * </list>
 */

/*list customizations*/
$list-tm-left: 0;
$list-tm-top: 0;
$list-tm-width: 100%;

$list-tr-right: .3rem;
$list-tr-top: .3rem;

$list-tl-left: .3rem;
$list-tl-top: .3rem;

$list-bm-left: 0;
$list-bm-bottom: 0;
$list-bm-width: 100%;

$list-br-right: .3rem;
$list-br-bottom: .3rem;

$list-bl-left: .3rem;
$list-bl-bottom: .6rem;

/*listItem li customizations*/
$listItem-top-margin:0rem 0rem 1rem 0rem;
$listItem-bottom-margin:1rem 0rem 0rem 0rem;
$listItem-animation-iteration-count: 1;
$listItem-animation-direction: normal;
$listItem-animation-timing-function: ease-out;
$listItem-animation-fill-mode: forwards;
$listItem-animation-delay-showing: 0s;
$listItem-animation-duration-showing: .5s;
$listItem-animation-delay-hiding: 0s;
$listItem-animation-duration-hiding: .5s;
$listItem-transform-origin: 0% 50%;

/*icon customizations */
$icon-left-position:1rem;

/*close button customizations */
$close-top-position:1rem;
$close-right-position:1rem;

/*content-wrapper div customizations */
//$contentWrapper-margin:1rem 0rem 1rem 0rem;
$contentWrapper-margin:0rem;
$contentWrapper-transition:background-color .3s ease-in;
$contentWrapper-animation-iteration-count: 1;
$contentWrapper-animation-direction: normal;
$contentWrapper-animation-timing-function: ease-out;
$contentWrapper-animation-fill-mode: forwards;
$contentWrapper-animation-delay-showing: 0s;
$contentWrapper-animation-duration-showing: .5s;
$contentWrapper-animation-delay-hiding: 0s;
$contentWrapper-animation-duration-hiding: .5s;
$contentWrapper-top-transform-origin: 0% 0%;
$contentWrapper-bottom-transform-origin: 0% 100%;
$contentWrapper-box-shadow: 0px 0px 4px 2px #ccc;
$contentWrapper-text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
$contentWrapper-border-radius: .5rem;

/*content div customizations */
$content-padding:1.5rem 2rem 1.5rem 2.5rem;

/*Mode colors*/
$success-bg-color:#43ac6a;
$success-bg-color-hover:#368a54;
$warning-bg-color:#f08a24;
$warning-bg-color-hover:#de770f;
$error-bg-color: #f04124;
$error-bg-color-hover: #cf280e;
$info-bg-color:#008cba;
$info-bg-color-hover:#007ba0;

/*
 * MEDIA QUERIES =============================
 */
@media screen and (max-width: $small-media-break) {
    [data-zeichen-list]{	     
	width:100%;
        right:0;
        left:0;
    }
}

@media screen and (min-width: $small-media-break) {
    [data-zeichen-list]{
	width:$large-max-width;
    }
}


/*
 * LIST RULES
 */

[data-zeichen-list]{
    padding:0;
    margin:0;
    list-style:none;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

[data-zeichen-list="tl"]{
    top:$list-tl-top;
    left:$list-tl-left;
}

[data-zeichen-list="tm"]{
    top:$list-tm-top;
    left:$list-tm-left;
    width:$list-tm-width;
}

[data-zeichen-list="tr"]{
    top:$list-tr-top;
    right:$list-tr-right;
}

[data-zeichen-list="bl"]{
    bottom:$list-bl-bottom;
    left:$list-bl-left;
}

[data-zeichen-list="bm"]{
    bottom:$list-bm-bottom;
    left:$list-bm-left;
    width:$list-bm-width
}

[data-zeichen-list="br"]{
    bottom:$list-br-bottom;
    right:$list-br-right;
}

/*
 * LIST ITEM & CONTENT WRAPPER RULES
 */

#{$class-prefix}-list-item{    
    position:relative;
    width:100%;
    max-height:0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:0;
}

[data-zeichen-list-item]{
    -webkit-animation-duration: $listItem-animation-duration-showing;
    -webkit-animation-delay: $listItem-animation-delay-showing;
    -webkit-animation-iteration-count: $listItem-animation-iteration-count;
    -webkit-animation-direction: $listItem-animation-direction;
    -webkit-animation-timing-function: $listItem-animation-timing-function;
    -webkit-animation-fill-mode: $listItem-animation-fill-mode;
    -webkit-transform-origin: $listItem-transform-origin;
    
    -moz-animation-duration: $listItem-animation-duration-showing;
    -moz-animation-delay: $listItem-animation-delay-showing;
    -moz-animation-iteration-count: $listItem-animation-iteration-count;
    -moz-animation-direction: $listItem-animation-direction;
    -moz-animation-timing-function: $listItem-animation-timing-function;
    -moz-animation-fill-mode: $listItem-animation-fill-mode;
    -moz-transform-origin: $listItem-transform-origin;    
}

[data-zeichen-list-item].hiding{
    -webkit-animation-duration: $listItem-animation-duration-hiding;
    -webkit-animation-delay: $listItem-animation-delay-hiding;
    -moz-animation-duration: $listItem-animation-duration-hiding;
    -moz-animation-delay: $listItem-animation-delay-hiding;
}

#{$class-prefix}-content-wrapper{
    padding:0;
    margin:$contentWrapper-margin;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-shadow:$contentWrapper-box-shadow;
    text-shadow:$contentWrapper-text-shadow;
    border-radius:$contentWrapper-border-radius;
    transition:$contentWrapper-transition;
    width:100%;
    opacity:0;
}

[data-zeichen-content-wrapper].success{
    background-color:$success-bg-color;
    border:1px solid $success-bg-color-hover;
    &:hover{
        background-color:$success-bg-color-hover;
    }
}

[data-zeichen-content-wrapper].warning{
    background-color:$warning-bg-color;
    border:1px solid $warning-bg-color-hover;
    &:hover{
        background-color:$warning-bg-color-hover;
    }
}

[data-zeichen-content-wrapper].error{
    background-color:$error-bg-color;
    border:1px solid $error-bg-color-hover;
    &:hover{
        background-color:$error-bg-color-hover;
    }
}

[data-zeichen-content-wrapper].info{
    background-color:$info-bg-color;
    border:1px solid $info-bg-color-hover;
    &:hover{
        background-color:$info-bg-color-hover;
    }
}

[data-zeichen-content-wrapper]{
    -webkit-animation-iteration-count: $contentWrapper-animation-iteration-count;
    -webkit-animation-direction: $contentWrapper-animation-direction;
    -webkit-animation-timing-function: $contentWrapper-animation-timing-function;
    -webkit-animation-fill-mode: $contentWrapper-animation-fill-mode;
    
    -moz-animation-iteration-count: $contentWrapper-animation-iteration-count;
    -moz-animation-direction: $contentWrapper-animation-direction;
    -moz-animation-timing-function: $contentWrapper-animation-timing-function;
    -moz-animation-fill-mode: $contentWrapper-animation-fill-mode;
}

[data-zeichen-content-wrapper].showing{
    -webkit-animation-duration: $contentWrapper-animation-duration-showing;
    -webkit-animation-delay: $contentWrapper-animation-delay-showing;
    
    -moz-animation-duration: $contentWrapper-animation-duration-showing;
    -moz-animation-delay: $contentWrapper-animation-delay-showing;
}

[data-zeichen-content-wrapper].hiding{
    -webkit-animation-duration: $contentWrapper-animation-duration-hiding;
    -webkit-animation-delay: $contentWrapper-animation-delay-hiding;

    -moz-animation-duration: $contentWrapper-animation-duration-hiding;
    -moz-animation-delay: $contentWrapper-animation-delay-hiding;
}

[data-zeichen-list="tl"], [data-zeichen-list="tm"], [data-zeichen-list="tr"]{    
    [data-zeichen-list-item]{
        margin:$listItem-top-margin;
    }
    [data-zeichen-list-item] [data-zeichen-content-wrapper].showing,
    [data-zeichen-list-item] [data-zeichen-content-wrapper].hiding{
        -webkit-transform-origin: $contentWrapper-top-transform-origin;
        -moz-transform-origin: $contentWrapper-top-transform-origin;
    }
}

[data-zeichen-list="bl"], [data-zeichen-list="bm"], [data-zeichen-list="br"]{
    [data-zeichen-list-item]{
        margin:$listItem-bottom-margin;
    }
    [data-zeichen-list-item] [data-zeichen-content-wrapper].showing,
    [data-zeichen-list-item] [data-zeichen-content-wrapper].hiding{
        -webkit-transform-origin: $contentWrapper-bottom-transform-origin;
        -moz-transform-origin: $contentWrapper-bottom-transform-origin;
    }
}

[data-zeichen-list="tr"], [data-zeichen-list="br"]{
    [data-zeichen-list-item]{
        float:right;
    }
    [data-zeichen-list-item].showing{
        -webkit-animation-name: openRightListItem;
        -moz-animation-name: openRightListItem;
    }
    [data-zeichen-list-item].hiding{
        -webkit-animation-name: closeRightListItem;
        -moz-animation-name: closeRightListItem;
    }
    [data-zeichen-list-item] [data-zeichen-content-wrapper].showing{
        -webkit-animation-name: openRightWrapper;
        -moz-animation-name: openRightWrapper;
    }
    [data-zeichen-list-item] [data-zeichen-content-wrapper].hiding{
        -webkit-animation-name: closeRightWrapper;
        -moz-animation-name: closeRightWrapper;
    }
}

[data-zeichen-list="tm"]{
    [data-zeichen-list-item].showing{
        -webkit-animation-name: openTopListItem;
        -moz-animation-name: openTopListItem;
    }
    [data-zeichen-list-item].hiding{
        -webkit-animation-name: closeTopListItem;
        -moz-animation-name: closeTopListItem;
    }
    [data-zeichen-list-item] [data-zeichen-content-wrapper].showing{
        -webkit-animation-name: openTopWrapper;
        -moz-animation-name: openTopWrapper;
    }
    [data-zeichen-list-item] [data-zeichen-content-wrapper].hiding{
        -webkit-animation-name: closeTopWrapper;
        -moz-animation-name: closeTopWrapper;
    }
}

[data-zeichen-list="tl"], [data-zeichen-list="bl"]{
    [data-zeichen-list-item]{
        float:left;
    }
    [data-zeichen-list-item].showing{
        -webkit-animation-name: openLeftListItem;
        -moz-animation-name: openLeftListItem;
    }
    [data-zeichen-list-item].hiding{
        -webkit-animation-name: closeLeftListItem;
        -moz-animation-name: closeLeftListItem;
    }
    [data-zeichen-list-item] [data-zeichen-content-wrapper].showing{
        -webkit-animation-name: openLeftWrapper;
        -moz-animation-name: openLeftWrapper;
    }
    [data-zeichen-list-item] [data-zeichen-content-wrapper].hiding{
        -webkit-animation-name: closeLeftWrapper;
        -moz-animation-name: closeLeftWrapper;
    }
}

[data-zeichen-list="bm"]{
    [data-zeichen-list-item].showing{
        -webkit-animation-name: openBottomListItem;
        -moz-animation-name: openBottomListItem;
    }
    [data-zeichen-list-item].hiding{
        -webkit-animation-name: closeBottomListItem;
        -moz-animation-name: closeBottomListItem;
    }
    [data-zeichen-list-item] [data-zeichen-content-wrapper].showing{
        -webkit-animation-name: openBottomWrapper;
        -moz-animation-name: openBottomWrapper;
    }
    [data-zeichen-list-item] [data-zeichen-content-wrapper].hiding{
        -webkit-animation-name: closeBottomWrapper;
        -moz-animation-name: closeBottomWrapper;
    }
}

#{$class-prefix}-close{
    top:$close-top-position;
    right:$close-right-position;
    text-decoration:none;
    position:absolute;    
    color:$font-color;
}

#{$class-prefix}-icon{
    position:absolute;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    left:$icon-left-position;
    color:$font-color;
}

#{$class-prefix}-content{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    width:100%;
    color:$font-color;
    padding: $content-padding;
}