/*prefixes and globals */
$class-prefix: '.zeichen';
$id-prefix: '#zeichen';
$small-media-break: 768px;
$large-max-width: 25%;
$font-color:white;

/**
 * Animations and general css rules use the following structure
 *
 * <list>
 *  <listItem>
 *   <contentWrapper>
 *    icon, close, content
 *   </contentWrapper>
 *  </listItem>
 *  <listItem>
 *   <contentWrapper>
 *    icon, close, content
 *   </contentWrapper>
 *  </listItem>
 * </list>
 */

/*list customizations*/
$list-tm-left: 0;
$list-tm-top: 0;
$list-tm-width: 100%;

$list-tr-right: .3rem;
$list-tr-top: .3rem;

$list-tl-left: .3rem;
$list-tl-top: .3rem;

$list-bm-left: 0;
$list-bm-bottom: 0;
$list-bm-width: 100%;

$list-br-right: .3rem;
$list-br-bottom: .3rem;

$list-bl-left: .3rem;
$list-bl-bottom: .3rem;

/*listItem li customizations*/
$listItem-margin:1rem 0rem 0rem 0rem;
$listItem-animation-iteration-count: 1;
$listItem-animation-direction: normal;
$listItem-animation-timing-function: ease-out;
$listItem-animation-fill-mode: forwards;
$listItem-animation-delay-showing: 0s;
$listItem-animation-duration-showing: .5s;
$listItem-animation-delay-hiding: 0s;
$listItem-animation-duration-hiding: .3s;
$listItem-transform-origin: 0% 0%;

/*icon customizations */
$icon-left-position:1rem;

/*close button customizations */
$close-top-position:1rem;
$close-right-position:1rem;

/*content-wrapper div customizations */
//$contentWrapper-margin:1rem 0rem 1rem 0rem;
$contentWrapper-margin:0rem;
$contentWrapper-animation-iteration-count: 1;
$contentWrapper-animation-direction: normal;
$contentWrapper-animation-timing-function: ease-out;
$contentWrapper-animation-fill-mode: forwards;
$contentWrapper-animation-delay-showing: 0s;
$contentWrapper-animation-duration-showing: .3s;
$contentWrapper-animation-delay-hiding: 0s;
$contentWrapper-animation-duration-hiding: .5s;
$contentWrapper-top-transform-origin: 0% 0%;
$contentWrapper-bottom-transform-origin: 0% 100%;
$contentWrapper-box-shadow: 0px 0px 4px 2px #ccc;
$contentWrapper-border-radius: .5rem;

/*content div customizations */
$content-padding:1.5rem 2rem 1.5rem 2.5rem;

/*Mode colors*/
$success-bg-color:#43ac6a;
$success-bg-color-hover:#368a54;
$warning-bg-color:#f08a24;
$warning-bg-color-hover:#de770f;
$error-bg-color: #f04124;
$error-bg-color-hover: #cf280e;
$info-bg-color:#008cba;
$info-bg-color-hover:#007ba0;

/*
 * KEYFRAMES =================================
 * Yeah this is a shitty way to do this, but it works. 
 * A simple bash script can generate all 3 prefixed sheets from one
 */ 

@import 'zeichen_keyframes_moz';
@import 'zeichen_keyframes_webkit';
@import 'zeichen_keyframes_nopre';

/*
 * MEDIA QUERIES =============================
 */
@media screen and (max-width: $small-media-break) {
    #{$class-prefix}-list{	     
	width:100%;
        right:0;
        left:0;
    }
}

@media screen and (min-width: $small-media-break) {
    #{$class-prefix}-list{
	width:$large-max-width;
    }
}


/*
 * AN AWFUL MESS =============================
 */
#{$class-prefix}-list{
    padding:0;
    margin:0;
    list-style:none;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

#{$class-prefix}-list-item{
    -webkit-animation-duration: $listItem-animation-duration-showing;
    -webkit-animation-delay: $listItem-animation-delay-showing;
    -webkit-animation-iteration-count: $listItem-animation-iteration-count;
    -webkit-animation-direction: $listItem-animation-direction;
    -webkit-animation-timing-function: $listItem-animation-timing-function;
    -webkit-animation-fill-mode: $listItem-animation-fill-mode;
    -webkit-transform-origin: $listItem-transform-origin;

    -moz-animation-duration: $listItem-animation-duration-showing;
    -moz-animation-delay: $listItem-animation-delay-showing;
    -moz-animation-iteration-count: $listItem-animation-iteration-count;
    -moz-animation-direction: $listItem-animation-direction;
    -moz-animation-timing-function: $listItem-animation-timing-function;
    -moz-animation-fill-mode: $listItem-animation-fill-mode;
    -moz-transform-origin: $listItem-transform-origin;
    
    position:relative;
    width:100%;
    max-width:100%;
    max-height:0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:0;
    margin:$listItem-margin;
}

#{$id-prefix}-tm #{$class-prefix}-list-item.showing{
    -webkit-animation-name: openTopListItem;
    -moz-animation-name: openTopListItem;
}

#{$id-prefix}-bm #{$class-prefix}-list-item.showing{
    -webkit-animation-name: openBottomListItem;
    -moz-animation-name: openBottomListItem;
}

#{$id-prefix}-tl #{$class-prefix}-list-item.showing,
#{$id-prefix}-bl #{$class-prefix}-list-item.showing{
    -webkit-animation-name: openLeftListItem;
    -moz-animation-name: openLeftListItem;
}

#{$id-prefix}-tr #{$class-prefix}-list-item.showing,
#{$id-prefix}-br #{$class-prefix}-list-item.showing{
    -webkit-animation-name: openRightListItem;
    -moz-animation-name: openRightListItem;
}

#{$id-prefix}-tm #{$class-prefix}-list-item.hiding{
    -webkit-animation-name: closeTopListItem;
    -webkit-animation-duration: $listItem-animation-duration-hiding;
    -webkit-animation-delay: $listItem-animation-delay-hiding;
    -moz-animation-name: closeTopListItem;
    -moz-animation-duration: $listItem-animation-duration-hiding;
    -moz-animation-delay: $listItem-animation-delay-hiding;
}

#{$id-prefix}-bm #{$class-prefix}-list-item.hiding{
    -webkit-animation-name: closeBottomListItem;
    -webkit-animation-duration: $listItem-animation-duration-hiding;
    -webkit-animation-delay: $listItem-animation-delay-hiding;
    -moz-animation-name: closeBottomListItem;
    -moz-animation-duration: $listItem-animation-duration-hiding;
    -moz-animation-delay: $listItem-animation-delay-hiding;
}

#{$id-prefix}-tl #{$class-prefix}-list-item.hiding,
#{$id-prefix}-bl #{$class-prefix}-list-item.hiding{
    -webkit-animation-name: closeLeftListItem;
    -webkit-animation-duration: $listItem-animation-duration-hiding;
    -webkit-animation-delay: $listItem-animation-delay-hiding;
    -moz-animation-name: closeLeftListItem;
    -moz-animation-duration: $listItem-animation-duration-hiding;
    -moz-animation-delay: $listItem-animation-delay-hiding;
}

#{$id-prefix}-tr #{$class-prefix}-list-item.hiding,
#{$id-prefix}-br #{$class-prefix}-list-item.hiding{
    -webkit-animation-name: closeRightListItem;
    -webkit-animation-duration: $listItem-animation-duration-hiding;
    -webkit-animation-delay: $listItem-animation-delay-hiding;
    -moz-animation-name: closeRightListItem;
    -moz-animation-duration: $listItem-animation-duration-hiding;
    -moz-animation-delay: $listItem-animation-delay-hiding;
}

#{$class-prefix}-content-wrapper{
    -webkit-animation-iteration-count: $contentWrapper-animation-iteration-count;
    -webkit-animation-direction: $contentWrapper-animation-direction;
    -webkit-animation-timing-function: $contentWrapper-animation-timing-function;
    -webkit-animation-fill-mode: $contentWrapper-animation-fill-mode;

    -moz-animation-iteration-count: $contentWrapper-animation-iteration-count;
    -moz-animation-direction: $contentWrapper-animation-direction;
    -moz-animation-timing-function: $contentWrapper-animation-timing-function;
    -moz-animation-fill-mode: $contentWrapper-animation-fill-mode;

    padding:0;
    margin:$contentWrapper-margin;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-shadow:$contentWrapper-box-shadow;
    border-radius:$contentWrapper-border-radius;
    width:100%;
    opacity:0;
}

#{$class-prefix}-content-wrapper.showing{
    -webkit-animation-duration: $contentWrapper-animation-duration-showing;
    -webkit-animation-delay: $contentWrapper-animation-delay-showing;

    -moz-animation-duration: $contentWrapper-animation-duration-showing;
    -moz-animation-delay: $contentWrapper-animation-delay-showing;
}

#{$id-prefix}-tm #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.showing{
    -webkit-animation-name: openTopWrapper;
    -moz-animation-name: openTopWrapper;
}

#{$id-prefix}-bm #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.showing{
    -webkit-animation-name: openBottomWrapper;
    -moz-animation-name: openBottomWrapper;
}

#{$id-prefix}-tl #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.showing,
#{$id-prefix}-bl #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.showing{
    -webkit-animation-name: openLeftWrapper;
    -moz-animation-name: openLeftWrapper;
}

#{$id-prefix}-tr #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.showing,
#{$id-prefix}-br #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.showing{
    -webkit-animation-name: openRightWrapper;
    -moz-animation-name: openRightWrapper;
}

#{$id-prefix}-tr #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.showing,
#{$id-prefix}-tl #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.showing,
#{$id-prefix}-tm #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.showing{
    -webkit-transform-origin: $contentWrapper-top-transform-origin;
    -moz-transform-origin: $contentWrapper-top-transform-origin;
}

#{$id-prefix}-br #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.showing,
#{$id-prefix}-bl #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.showing,
#{$id-prefix}-bm #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.showing{
    -webkit-transform-origin: $contentWrapper-bottom-transform-origin;
    -moz-transform-origin: $contentWrapper-bottom-transform-origin;
}

#{$class-prefix}-content-wrapper.hiding{
    -webkit-animation-duration: $contentWrapper-animation-duration-hiding;
    -webkit-animation-delay: $contentWrapper-animation-delay-hiding;

    -moz-animation-duration: $contentWrapper-animation-duration-hiding;
    -moz-animation-delay: $contentWrapper-animation-delay-hiding;
}

#{$id-prefix}-tm #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.hiding{
    -webkit-animation-name: closeTopWrapper;
    -moz-animation-name: closeTopWrapper;

}

#{$id-prefix}-bm #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.hiding{
    -webkit-animation-name: closeBottomWrapper;
    -moz-animation-name: closeBottomWrapper;
}

#{$id-prefix}-tl #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.hiding,
#{$id-prefix}-bl #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.hiding{
    -webkit-animation-name: closeLeftWrapper;
    -moz-animation-name: closeLeftWrapper;
}

#{$id-prefix}-tr #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.hiding,
#{$id-prefix}-br #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.hiding{
    -webkit-animation-name: closeRightWrapper;
    -moz-animation-name: closeRightWrapper;
}

#{$id-prefix}-tr #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.hiding,
#{$id-prefix}-tl #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.hiding,
#{$id-prefix}-tm #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.hiding{
    -webkit-transform-origin: $contentWrapper-top-transform-origin;
    -moz-transform-origin: $contentWrapper-top-transform-origin;
}

#{$id-prefix}-br #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.hiding,
#{$id-prefix}-bl #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.hiding,
#{$id-prefix}-bm #{$class-prefix}-list-item #{$class-prefix}-content-wrapper.hiding{
    -webkit-transform-origin: $contentWrapper-bottom-transform-origin;
    -moz-transform-origin: $contentWrapper-bottom-transform-origin;
}

#{$class-prefix}-icon{
    position:absolute;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    left:$icon-left-position;
    color:$font-color;
}

#{$class-prefix}-content{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    width:100%;
    color:$font-color;
    padding: $content-padding;
}

#{$class-prefix}-content-wrapper.success{
    background-color:$success-bg-color;
    border:1px solid $success-bg-color-hover;
}

#{$class-prefix}-content-wrapper.success:hover{
    background-color:$success-bg-color-hover;
}

#{$class-prefix}-content-wrapper.warning{
    background-color:$warning-bg-color;
    border:1px solid $warning-bg-color-hover;
}

#{$class-prefix}-content-wrapper.warning:hover{
    background-color:$warning-bg-color-hover;
}

#{$class-prefix}-content-wrapper.error{
    background-color:$error-bg-color;
    border:1px solid $error-bg-color-hover;
}

#{$class-prefix}-content-wrapper.error:hover{
    background-color:$error-bg-color-hover;
}

#{$class-prefix}-content-wrapper.info{
    background-color:$info-bg-color;
    border:1px solid $info-bg-color-hover;
}

#{$class-prefix}-content-wrapper.info:hover{
    background-color:$info-bg-color-hover;
}

#{$class-prefix}-close{
    top:$close-top-position;
    right:$close-right-position;
    text-decoration:none;
    position:absolute;    
    color:$font-color;
}

#{$id-prefix}-tm{
    top:$list-tm-top;
    left:$list-tm-left;
    width:$list-tm-width;
}

#{$id-prefix}-tl{
    top:$list-tl-top;
    left:$list-tl-left;
}

#{$id-prefix}-tr{
    top:$list-tr-top;
    right:$list-tr-right;
}

#{$id-prefix}-bm{
    bottom:$list-bm-bottom;
    left:$list-bm-left;
    width:$list-bm-width
}

#{$id-prefix}-bl{
    bottom:$list-bl-bottom;
    left:$list-bl-left;
}

#{$id-prefix}-br{
    bottom:$list-br-bottom;
    right:$list-br-right;
}