/**
 * Messages aligned on RHS of screen
 * 
 */


@-webkit-keyframes closeRightListItem {
    0%   {
    }
    100% {
	max-height: 0;
        margin:0;
    }
}


@-webkit-keyframes openRightListItem {
    0%   {
	max-height: 0;
        margin:0;
    }
    100% {
    }
}

@-webkit-keyframes closeRightWrapper {
    0%   {
        -webkit-transform: skewX(0deg) rotate(0deg);
	opacity:1;
        -webkit-transform-origin:50% 100%;
    }
    20%{
        -webkit-transform: skewX(10deg) rotate(5deg);
    }
    40%{
        -webkit-transform: skewX(-10deg) rotate(-5deg);
    }
    60%{
        -webkit-transform: skewX(5deg) rotate(2deg);
    }
    80%{
        -webkit-transform: skewX(-5deg) rotate(-2deg);
    }
    100% {
        -webkit-transform: skewX(0deg) rotate(0deg);
        -webkit-transform-origin:50% 100%;
	opacity:0;
    }
}

@-webkit-keyframes openRightWrapper {
    0%   {
        -webkit-transform: skewX(0deg) rotate(0deg);
	opacity:0;
        -webkit-transform-origin:50% 100%;
    }
    20%{
        -webkit-transform: skewX(10deg) rotate(5deg);
    }
    40%{
        -webkit-transform: skewX(-10deg) rotate(-5deg);
    }
    60%{
        -webkit-transform: skewX(5deg) rotate(2deg);
    }
    80%{
        -webkit-transform: skewX(-5deg) rotate(-2deg);
    }
    100% {
        -webkit-transform: skewX(0deg) rotate(0deg);
        -webkit-transform-origin:50% 100%;
	opacity:1;
    }
}


/**
 * Messages aligned on LHS of screen
 *
 */
@-webkit-keyframes closeLeftListItem {
    0%   {
    }
    100% {
	max-height: 0;
        margin:0;
    }
}

@-webkit-keyframes openLeftListItem {
    0%   {
	max-height: 0;
        margin:0;
    }
    100% {
    }
}

@-webkit-keyframes closeLeftWrapper {
    0%   {
        -webkit-transform: skewX(0deg) rotate(0deg);
	opacity:1;
        -webkit-transform-origin:50% 100%;
    }
    20%{
        -webkit-transform: skewX(10deg) rotate(5deg);
    }
    40%{
        -webkit-transform: skewX(-10deg) rotate(-5deg);
    }
    60%{
        -webkit-transform: skewX(5deg) rotate(2deg);
    }
    80%{
        -webkit-transform: skewX(-5deg) rotate(-2deg);
    }
    100% {
        -webkit-transform: skewX(0deg) rotate(0deg);
        -webkit-transform-origin:50% 100%;
	opacity:0;
    }
}

@-webkit-keyframes openLeftWrapper {
    0%   {
        -webkit-transform: skewX(0deg) rotate(0deg);
	opacity:0;
        -webkit-transform-origin:50% 100%;
    }
    20%{
        -webkit-transform: skewX(10deg) rotate(5deg);
    }
    40%{
        -webkit-transform: skewX(-10deg) rotate(-5deg);
    }
    60%{
        -webkit-transform: skewX(5deg) rotate(2deg);
    }
    80%{
        -webkit-transform: skewX(-5deg) rotate(-2deg);
    }
    100% {
        -webkit-transform: skewX(0deg) rotate(0deg);
        -webkit-transform-origin:50% 100%;
	opacity:1;
    }
}

/**
 * Messages on top mid
 *
 */
@-webkit-keyframes closeTopListItem {
    0%   {
    }
    100% {
	max-height: 0;
        margin:0;
    }
}

@-webkit-keyframes openTopListItem {
    0%   {
	max-height: 0;
        margin:0;
    }
    100% {
    }
}

@-webkit-keyframes closeTopWrapper {
    0%   {
	opacity:1;
    }
    100% {
	opacity:0;
    }
}

@-webkit-keyframes openTopWrapper {
    0%   {
	opacity:0;
    }
    100% {
	opacity:1;
    }
}


/**
 * Messages on bottom mid
 *
 */
@-webkit-keyframes closeBottomListItem {
    0%   {
    }
    100% {
	max-height: 0;
        margin:0;
    }
}

@-webkit-keyframes openBottomListItem {
    0%   {
	max-height: 0;
        margin:0;
    }
    100% {
    }
}

@-webkit-keyframes closeBottomWrapper {
    0%   {
	opacity:1;
    }
    100% {
	opacity:0;
    }
}

@-webkit-keyframes openBottomWrapper {
    0%   {
	opacity:0;
    }
    100% {
	opacity:1;
    }
}