/**
 * Messages aligned on RHS of screen
 * 
 */
@-webkit-keyframes closeRightListItem {
  100% {
    max-height: 0;
    margin: 0; } }

@-webkit-keyframes openRightListItem {
  0% {
    max-height: 0;
    margin: 0; } }

@-webkit-keyframes closeRightWrapper {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-webkit-keyframes openRightWrapper {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

/**
 * Messages aligned on LHS of screen
 *
 */
@-webkit-keyframes closeLeftListItem {
  100% {
    max-height: 0;
    margin: 0; } }

@-webkit-keyframes openLeftListItem {
  0% {
    -webkit-transform-origin: 0% 0%;
    max-height: 0;
    margin: 0; }

  100% {
    -webkit-transform-origin: 0% 0%; } }

@-webkit-keyframes closeLeftWrapper {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-webkit-keyframes openLeftWrapper {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

/**
 * Messages on top mid
 *
 */
@-webkit-keyframes closeTopListItem {
  100% {
    max-height: 0;
    margin: 0; } }

@-webkit-keyframes openTopListItem {
  0% {
    max-height: 0;
    margin: 0; } }

@-webkit-keyframes closeTopWrapper {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-webkit-keyframes openTopWrapper {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

/**
 * Messages on bottom mid
 *
 */
@-webkit-keyframes closeBottomListItem {
  100% {
    max-height: 0;
    margin: 0; } }

@-webkit-keyframes openBottomListItem {
  0% {
    max-height: 0;
    margin: 0; } }

@-webkit-keyframes closeBottomWrapper {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-webkit-keyframes openBottomWrapper {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
